nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* More transparent black background */
    padding: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav::after {
    content: "";
    display: block;
    height: 2px; /* Height of the black line */
    background-color: black;
    margin-top: 10px; /* Adjust the margin as needed */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}




body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

.section h1 {
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ;
}

.section p {
    font-family:"martian mono", monospace ;
    max-width: 1100px;
    font-size: 20px;
}
#section1 { 
    background-color: beige;
}
    

#section2 { 
    background-color: rgb(227, 200, 23);
}

#section3 {
    background-color:rgb(36, 169, 107);
}
#section4 {
    background-color:rgb(186, 122, 76)
    
}

#section5 { 
    background-color: rgb(54, 7, 7);
    color: #ddd;
}

#section6 { 
    background-color:antiquewhite ;
}

#section7 { 
    background-color:rgb(246, 159, 184) ;
}

#section8 {
    background-color: darkslategrey;
    color: #ddd;
}


#section9 {
    background-color: rgb(245, 211, 100);
    
    .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}}


#section10 {

    background-color: rgb(128, 201, 154);
    .gallery1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.gallery1 img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    overflow: hidden;}}

    #section11 {

        background-color: rgb(206, 132, 71);
        .gallery3 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .gallery3 img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
        overflow: hidden;}}


        #section12 {

            background-color: rgb(53, 24, 0);
            .gallery3 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .gallery3 img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 8px;
            overflow: hidden;}}


            #section13 {

                background-color: rgb(53, 24, 0);
                .gallery4 {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                gap: 10px;
                max-width: 800px;
                margin: 0 auto;
                padding: 20px;
            }
            
            .gallery4 img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 8px;
                overflow: hidden;}}

                #section14 {

                    background-color: rgb(152, 23, 66);
                    .gallery5 {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                    gap: 10px;
                    max-width: 800px;
                    margin: 0 auto;
                    padding: 20px;
                }
                
                .gallery5 img {
                    width: 100%;
                    height: auto;
                    display: block;
                    border-radius: 8px;
                    overflow: hidden;}}

                    #section15 {
                        background-color: #b6ca90;
                
                    }

                    #section18 {

                        background-color: rgb(204, 239, 139);
                        .gallery5 {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                        gap: 10px;
                        max-width: 800px;
                        margin: 0 auto;
                        padding: 20px;
                    }
                    
                    .gallery5 img {
                        width: 100%;
                        height: auto;
                        display: block;
                        border-radius: 8px;
                        overflow: hidden;}}


                        #section19 {

                            background-color: rgb(213, 216, 128);
                            .gallery5 {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                            gap: 10px;
                            max-width: 800px;
                            margin: 0 auto;
                            padding: 20px;
                        }
                        
                        .gallery5 img {
                            width: 100%;
                            height: auto;
                            display: block;
                            border-radius: 8px;
                            overflow: hidden;}}
    

                            #section20 {

                                background-color: rgb(227, 188, 142);
                                .gallery5 {
                                display: grid;
                                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                                gap: 10px;
                                max-width: 800px;
                                margin: 0 auto;
                                padding: 20px;
                            }
                            
                            .gallery5 img {
                                width: 100%;
                                height: auto;
                                display: block;
                                border-radius: 8px;
                                overflow: hidden;}}
        
    
    