.navbar {
    overflow: hidden;
    background-color: #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    font-family:  'Anton', sans-serif;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding:  20px;
    text-decoration: none;
    font-size: 20px;
    font-family:  'Anton', sans-serif;
  }
  
  .navbar a:hover {
    background: #ddd;
}

    .navbar h1 { padding-left: 50px;
    font-size: 40px;
    
color: #421515;}

    .intro {
        padding-top: 80px;
        font-size: 17px;
        font-family:"martian mono", monospace;
        color: black;
        max-width: 120px;
      
     
        
    }

    .title {
        padding-right:30px;
        color: #3c0909;
        font-size: 10px;
    }


body {
    
    margin: 0;
    padding: 0;
    background-color: #500f0f;
    display: flex;
    align-items: center;
    font-family: "martian mono", monospace ;
    justify-content: center;
    height: 100vh;
    max-width: 1100px;
    padding-left: 150px;
    color: #ddd;
}

.typewriter {
    border-right: 2px solid #783201;
    font-family: "martian mono", monospace ;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    padding-top: 30PX;
    max-width: 700px;
}
 .introduction {
    font-size: 40PX;
    font-family: "martian mono", monospace ;
    margin: 30px;
    color: #887a5d;
    cursor: pointer;
    position: relative;
   
 }



.hover-text {
    font-size: 50px;
    cursor: pointer;
}

.gif-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://media2.giphy.com/media/QebsditK7H1WPeydF0/200.gif?cid=95b27944y7haf538mupejstnr827rwd4osdfwvi0j8y1l96q&ep=v1_gifs_gifId&rid=200.gif&ct=s') no-repeat center center; /* Replace with your GIF path */
    background-size: cover;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

 