body {margin:0;
background-color: #FFEAC2;}


.navbar {
  overflow: hidden;
  background-color:  rgb(239, 203, 59);
  position: fixed;
  top: 0;
  width: 100%;
  font-family:  'Anton', sans-serif;
}

.navbar a {
  float: left;
  display: block;
  color: #050505;
  text-align: center;
  padding:  20px;
  text-decoration: none;
  font-size: 17px;
  font-family:  'Anton', sans-serif;
}

.navbar a:hover {
  background: #ddd;
  color: rgb(249, 202, 16);
}

.image1 {
    width: 50%;
    float: left;
    padding-left: 10px;
    border-radius:10%;

}

.img1 { padding-left: 30px;
    padding-bottom: 70px;
    border-radius: 10%;
    max-width: 100%;
    margin-top: 90px;
    width: 40%;
    border: 10px solid:yellow;
}

.img2 {width: 40%;
    border-radius: 10%;
    margin-top: 90px;
    padding-left: 10px;
    margin-right: 700px;
}



.image2 {
    padding-top: 50px;
    width: 50%;
    border-radius: 10%;
    float: right;
    padding-right: 10px;
    margin-top: -400px;

}

.img3 { 
    width: 50%;
}

.image3 {
    width:50%;
    float:left;
    padding-left: 10px;
    border-radius:10%;
}

