body {background-color: rgb(26, 26, 26);}

.about-link { color: rgb(254, 254, 254);}


.marquee {color: aliceblue;}

h2 {font-size: 30px;
color: aliceblue;
}
h3

pre {color: aliceblue;}

.rating {color: aliceblue;}

.underline {color: aliceblue;}

.intro { color: aliceblue;
font-size: 20px;
max-width: 900px;}

.ambiance-box {background-color : pink;
     width : 900px;
     max-width: 900px;
     border: 15px solid rgb(255, 255, 255);
     padding: 50px;
     margin:50px;
     color: black;
     font-size: 20px;
     font-family: "martian mono", monospace;
     } 

     .ambiance-img

     .intro {color: aliceblue;
        margin: 50px;
        font-size: 15px;
        max-width: 900px;
     }

     .menu {background-color : pink;
        width : 900px;
        max-width: 900PX;
        border: 15px solid rgb(255, 255, 255);
        padding: 50px;
        margin:50px;
        color: black;
        font-size: 20px;
        font-family: font-family:"martian mono", monospace;}

        .food {
            display: flex;
            justify-content: space-between;
          }
          
          .foood {
            width: 50%;
            padding-right:0px;
          }
          
          .food-image {
            width: 50%;
            padding-right: 0px;
            margin-right: 0px;
            
          }
          
          .food-image-text {  
            font-size: 20px;
            font-family: "martian mono", monospace;;
            width: 80%;
            border: 15 px solid aliceblue;
            color:black;
            background-color: pink;
            padding: 50px;
            margin-right:50px;
            ;
          }
        
          .overall-experience {background-color : pink;
            width : 900px;
            max-width: 900PX;
            border: 15px solid rgb(255, 255, 255);
            padding: 50px;
            margin:50px;
            color: black;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .marquee-two { color: aliceblue;}
        

